<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/toast.css">
    <link rel="stylesheet" href="/style/dialogs.css">
    <script src="/js/main.js"></script>
    <title>iCard Manager</title>
</head>

<body>
    <noscript>Please enable JavaScript to use this site</noscript>
</body>

</html>