<header>
  <h1>
    <span>Add a new template</span>
    <small>i-card Chouksey Group of Colleges</small>
  </h1>
</header>
<div id="drop-area">
  <label>
    <span class="text">Upload files</span>
    <input type="file" name="images" id="images" accept="image/svg+xml" multiple hidden>
  </label>
</div>
<div class="button-container">
  <button id="save">save</button>
  <button id="clear" class="warning">clear</button>
</div>
<div id="check-lists"></div>